<form method="post" style="width: 100%;">
    {% csrf_token %}
    <fieldset style="display: inline-block; width: 80%">
        <legend>Tischen zuordnen</legend>

        {% include 'internal/reservation/forms/select_reservation.html' with reservations=reservations id='select_reservation_assign' %}

        <div style="display: flex">
            <fieldset style="width: 50%" id="fs_small_tables">
                <legend>Klein</legend>
                <div class="scrollable_div" id="div_small_tables"></div>
            </fieldset>

            <fieldset style="width: 50%" id="fs_big_tables">
                <legend>Groß</legend>
                <div class="scrollable_div" id="div_big_tables"></div>
            </fieldset>
        </div>

        <br>

        <input type="submit" value="Speichern" style="font-weight: bold">
        <input type="hidden" name="type" value="assign">
    </fieldset>

    <script>
        $('#select_reservation_assign').change(() => {
            let select = $('#select_reservation_assign');
            let div_small_tables = $("#div_small_tables");
            let div_big_tables = $("#div_big_tables");

            // reset to blank
            div_small_tables.empty();
            div_big_tables.empty();

            let reservation_id = select.val();
            if (reservation_id)
                $.ajax({
                    url : "{% url 'reservation:ajax_get_available_tables' %}",
                    type : "GET",
                    data : {
                        "reservation_id" : select.val()
                    },
                    success : (response) => {
                        let big_tables = response['big'];
                        let small_tables = response['small'];


                        for (let table of small_tables) {
                            let html = `<input type="checkbox" style="margin: 1px;" name="${table['id']}">` +
                                       `<label style="font-size: 80%;">T${table['table_name']} (${table['seat_count']}x)</label>` +
                                       `<br>`;

                            div_small_tables.append(html);
                        }

                        for (let table of big_tables) {
                            let html = `<input type="checkbox" style="margin: 1px;" name="${table['id']}">` +
                                       `<label style="font-size: 80%;">T${table['table_name']} (${table['seat_count']}x)</label>` +
                                       `<br>`;

                            div_big_tables.append(html);
                        }

                    },
                    error: (err) => {
                        console.log(err);
                    }
                })
        });
    </script>
</form>