<form method="post" style="width: 100%;">
    {% csrf_token %}
    <fieldset style="display: inline-block; width: 70%;">
        <legend>Reservierung löschen</legend>

        <div class="scrollable_div">
            {% if reservations %}

                {% for reservation in reservations %}
                    <input type="checkbox" style="margin: 1px" name="{{ reservation.id }}">
                    <label style="font-size: 80%;">{{ reservation }}</label>
                    <br>
                {% endfor %}
            {% else %}
                Keine austehende Reservierungen
            {% endif %}
        </div>

        <br>

        <input type="submit" value="Löschen" style="font-weight: bold">
        <input type="hidden" name="type" value="delete">

    </fieldset>
</form>