<form method="post">
    {% csrf_token %}

    <fieldset style="display: inline-block; width: 70%">
        <legend>Manuelle Reservierung</legend>

        <label>Erforderlich:</label><br>
            <input name="name" type="text" placeholder="Name" required>
            <br>

            <input type="date" name="date" min="{{ today }}" value="{{ today }}" style="margin-top: 1px" required>
            <select name="time_slot" style="margin-top: 1px" required>

                <option value="">Zeitslot</option>
                {% for time_slot in tables.columns %}
                    <option value="{{ time_slot }}">{{ time_slot }}</option>
                {% endfor %}
            </select>

            <br>
            <input name="seat_count" type="number" placeholder="Sitzenanzahl" style="margin-top: 1px" required>

        <br>

        <label>Optional:</label><br>
        <input name="phone" type="number" inputmode="numeric" placeholder="Phone">

{#        {% include 'internal/reservation/forms/select_table.html' with required=0 %}#}

        <br><br>

        <input type="submit" value="Speichern" style="font-weight: bold">
        <input type="hidden" name="type" value="reservation">
    </fieldset>
</form>