<select name="reservation" style="width: 70%" required
{% if id %}
    id = {{ id }}
{% endif %}
>
    <option value="">Reservierung</option>
    {% for reservation in reservations %}
        <option value="{{ reservation.id }}">{{ reservation }}</option>
    {% endfor %}
</select>