<select name="table" style="width: 25%"
{% if required %}
    required
{% endif %}
>
    <option value="">Tisch</option>
    {% for row in tables.iterrows %}
        <option value="{{ row.0.id }}">{{ row.0 }}</option>
    {% endfor %}
</select>