<form method="post">
    {% csrf_token %}
    <fieldset style="display: inline-block; width: 80%">
        <legend>Kunden kamen an</legend>

        {% include 'internal/reservation/forms/select_reservation.html' with reservations=reservations %}

        <br><br>

        <input type="submit" value="Bestätigen" style="font-weight: bold">
        <input type="hidden" name="type" value="confirm">

    </fieldset>
</form>