<form method="post">
    {% csrf_token %}
    <fieldset style="display: inline-block; width: 80%">
        <legend>Kunden fertig sind</legend>

        {% include 'internal/reservation/forms/select_reservation.html' with reservations=reservations %}

        <select name="time_slot" style="width: 27%;" required>

            <option value="">Fertig um</option>
            {% for time_slot in time_slots %}
                <option value="{{ time_slot }}">{{ time_slot }}</option>
            {% endfor %}
        </select>

        <br><br>

        <input type="submit" value="Bestätigen" style="font-weight: bold">
        <input type="hidden" name="type" value="finished">

    </fieldset>
</form>