{% extends 'internal/base/base.html' %}
{% load static %}

{% block title %}Speisekarte Management{% endblock %}

{% block head %}
    {% include 'internal/base/table_head.html' %}

    <script src="{% static "js/table_config_german.js"  %}"></script>

    <style>
        .col_h1 {
            text-align: center;
            justify-content: center;
            align-items: stretch;
        }

        .margin_1_top {
            margin-top: 1px;
        }

    </style>
{% endblock %}

{% block content %}
    <div style="display: flex; max-width: 90%; padding:0 2%; justify-content: space-between;">
        <div class="col_h1" style="width: 25%; max-width: 40%;">

            <form id="form_new_dish" action="" style="width: 100%;">

                <fieldset>
                    <legend>Add new dish</legend>

                    <img id="img_foo" width="200" height="200" alt="Dish photo" src="">
                    <input name="input_img" type="file" class="margin_1_top" id="input_img" accept="image/*">
                    <input name="input_name" type="text" class="margin_1_top" placeholder="Name" required>
                    <input name="input_subname" type="text" class="margin_1_top" placeholder="Alternative Name" required>
                    <input name="input_price" type="number" class="margin_1_top" id="input_price_main" placeholder="Main price" step="0.1"  required>

                    <div id="add_topping" class="margin_1_top">
                        <input type="button" value="+ topping" onclick="add_topping()">
                    </div>

{#                    <textarea name="input_desc" placeholder="Description" rows="2" cols="36"></textarea>#}
{#                    <textarea name="input_subdesc" placeholder="Alternative description" rows="2" cols="36"></textarea>#}
                    <br>

                    <div id="add_tag" class="margin_1_top">
                        <label for="input_vegan">Vegan:</label>
                        <input name="input_vegan" type="checkbox" id="input_vegan">

                        <select name="input_spicy" style="margin-left: 2px">
                            <option value="0">No spicy</option>
                            <option value="1">1/5</option>
                            <option value="2">2/5</option>
                            <option value="3">3/5</option>
                            <option value="4">4/5</option>
                            <option value="5">5/5</option>
                        </select>
                        <input type="button" value="+ tag" onclick="add_tag()">
                    </div>
                    <input type="submit" value="Speichern" style="font-weight: bold; margin-top: 2px">
                </fieldset>

                <script>
                    // dynamic img upload
                    $("#input_img").change((event) => {
                        let img = $("#img_foo");
                        img.attr("src", URL.createObjectURL(event.target.files[0]));
                        img.ready(() => {
                            URL.revokeObjectURL(img.attr("src"));
                        });
                    });

                    let disable_price_input = (bool) => {
                        let input_price_main = $("#input_price_main");
                        input_price_main.prop("disabled", bool);
                        input_price_main.attr("hidden", bool);
                    }

                    let add_topping = () => {
                        let form = $("<form class='form_topping' style='margin-top: 2px'></form>");
                        let selection = $("<select name='select_topping' style='margin: 1px 1px;'></select>");
                        let name = $("<input name='topping_name' type='text' placeholder='Topping Name' style='max-width:40%; margin: 1px 1px;'>");
                        let subname = $("<input name='topping_subname' type='text' placeholder='Alternative Name' style='max-width:40%; margin: 1px 1px;'>");
                        let price = $("<input name='topping_price' type='number' placeholder='Price' style='max-width:25%; margin-left: 1px' step='0.1'>");
                        let btn_remove = $("<input type='button' style='margin-left: 1px; max-width: 10%' value='x'>");


                        // disable main price if not already
                        if (!$("#input_price_main").prop("disabled"))
                            disable_price_input(true);

                        selection.append("<option value='0'>New</option>");
                        selection.append("<option value='1'>Exist</option>");
                        selection.change(() => {
                            const NEW_TOPPING = "0";
                            let selected = selection.find(":selected").val();
                            if (selected === NEW_TOPPING) {
                                name.removeAttr('hidden');
                                subname.removeAttr('hidden');
                            } else {
                                name.attr('hidden', true);
                                subname.attr('hidden', true);
                            }
                        });

                        btn_remove.click(() => {
                            $(form).remove();
                            if ($(".form_topping").length <= 0)
                                disable_price_input(false);

                        });

                        form.append(name);
                        form.append(subname);
                        form.append(selection);
                        form.append(price);
                        form.append(btn_remove);

                        $("#add_topping").append(form);
                    }

                    let add_tag = () => {
                        let form = $("<form class='fs_tag' style='margin-top: 2px'></form>");
                        let name = $("<input name='tag_name' type='text' style='max-width: 50%' placeholder='New Tag'>");
                        let selection = $("<select name='select_tag' style='margin: 1px 1px'></select>");
                        let btn_remove = $("<input type='button' style='margin-left: 1px' value='x'>");

                        selection.append("<option value='0'>New</option>");
                        selection.append("<option value='1'>Exist</option>");
                        selection.change(() => {
                            const NEW_TAG = "0";
                            let selected = selection.find(":selected").val();

                            if (selected === NEW_TAG) {
                                name.removeAttr('hidden');
                            } else {
                                name.attr('hidden', true);
                            }
                        });

                        btn_remove.click(() => {
                            $(form).remove();
                        });

                        form.append(name);
                        form.append(selection);
                        form.append(btn_remove);

                        $("#add_tag").append(form);
                    }
                </script>

            </form>

            <script>
                // form new dish control
                let form = $("#form_new_dish");
                form.submit((event) => {
                    event.preventDefault();
                    let dict = {}
                    {#let formdata = new FormData(form[0]);#}
                    let counter = 0;

                    $("#add_topping form").each((i, topping) => {
                        let inputs = $(topping).serializeArray();

                        let is_valid = true;
                        let this_form = {}

                        $(inputs).each((j, input) => {
                            // discard any form without every field filled
                            if (!input.value) {
                                is_valid = false;
                                return;
                            }

                            this_form[input.name + "_" + counter] = input.value;
                        });

                        if (is_valid) {
                            counter++;
                            dict = Object.assign({}, dict, this_form);
                        }
                    });
                    console.log(dict);
                });
            </script>

        </div>

        <div class="col_h1" style="flex-grow: 0.8; max-width: 65%">
            <table id="table_dishes" class="table cell-border compact stripe" style="width: 100%">
                <thead>
                    <tr class="table_header">
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Tags</th>
                        <th>Action</th>
                    </tr>
                </thead>


                <tbody>

                </tbody>

            </table>
        </div>

    </div>

    <script>
        $(document).ready( function () {
            const COL_NAME = 1;

            let table_config = {
                language : lang_german,
                order: [[COL_NAME, 'asc']],
                columnDefs: [
                    {
                        targets: "_all",
                        className: 'dt-center'
                    }
                ]
            };

            $('#table_dishes').DataTable(table_config);
        });
    </script>
{% endblock %}