{% extends 'internal/base/base.html' %}
{% load static %}

{% block title %}Reservierung Management{% endblock %}

{% block head %}
    {% include 'internal/base/table_head.html' %}
    <style>
        div.dataTables_wrapper {
            width: 90%;
            margin: 0 auto;
        }
    </style>

{% endblock %}


{% block content %}
    <div style="display: flex;">
        <div style="width: 30%; align-items: center; text-align: center">
            {% include 'internal/reservation/forms/manual_reservation.html' with tables=tables today=today %}
            {% include 'internal/reservation/forms/delete_reservation.html' with reservations=reservations.all %}
        </div>


        <div style="width: 30%; align-items: center; text-align: center; justify-content: center">
            {% include 'internal/reservation/forms/assign_table.html' with tables=tables reservations=reservations.unassigned %}
            {% include 'internal/reservation/forms/set_on_going.html' with reservations=reservations.waiting %}
            {% include 'internal/reservation/forms/set_finished.html' with time_slots=tables.columns reservations=reservations.on_going %}
        </div>


        <div style="width: 40%">
            {% if reservations.unassigned %}

                <p style="font-weight: bold"> Alle ausstehenden Reservierungen: </p>
                <ul>
                    {% for reservation in reservations.unassigned %}
                        <li>{{ reservation.customer_name }}, {{ reservation.get_reserved_time_str }}, für {{ reservation.seat_count }} Personen</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p style="font-weight: bold"> Keine ausstehenden Reservierungen </p>
            {% endif %}
        </div>
    </div>

    <br>
    <br>

    {% include 'internal/reservation/table.html' with tables=tables %}

    <script>
        setTimeout(function(){location.reload();}, 30000);
    </script>

{% endblock %}