{% extends 'internal/base/base.html' %}

{% block title %}Neues Konto erstellen{% endblock %}

{% block head %}
    <style>
        *{
            margin: 2px 0;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" style="width: 90%; margin: 0 5%;">
        <fieldset>
            <legend>Admin email bearbeiten</legend>
            {% csrf_token %}
            <label>System Email (Kunden werden Emails von dieser Adresse erhalten):</label><br>
            <i>noreply@ginko-kassel.com</i><br>
            <br>

            <label>Admin Email:</label> <br>
            <input type="text" name="email_admin" value="{{ email_admin_current }}" required><br>

            <br>
            <button type="submit"><b>Speichern</b></button>
        </fieldset>
    </form>
{% endblock %}