{% extends "internal/auth/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="{% url 'auth:login' %}">{% translate 'Anmelden' %}</a></div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

{#    <p><a href="{% url 'auth:login' %}">{% translate 'Log in again' %}</a></p>#}

{% endblock %}
