{% extends 'internal/base/base.html' %}
{% block content %}
    <p>Willkommen, <b>{{ user.get_username }}</b></p>
    <p><a href="{% url 'auth:logout' %}">Abmelden</a></p>
    <p><a href="{% url 'auth:password_change' %}">Passwort ändern</a></p>
    <p><a href="{% url 'auth:edit_menu' %}">Speisekarte bearbeiten</a></p>
    <p><a href="{% url 'reservation:home' %}">Reservierungen</a></p>

    {% if user.is_superuser %}
        <p>
            <a href="{% url 'auth:sign_up' %}">Neues Konto erstellen</a>
        </p>
        <div>
            <p> Alles Konten: </p>
            <ol>
                {% for account in accounts %}
                    {% if account.is_superuser %}
                        <li>
                            <b>{{ account.username }}</b>
                            (<a href="{% url 'auth:change_email' %}">Email bearbeiten</a>)
                        </li>
                    {% else %}
                        <li>{{ account.username }} <b>(<a href="{% url 'auth:logged_in' %}?delete={{ account.id }}">Löschen</a>)</b></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    {% endif %}

{% endblock %}