{% extends "internal/auth/base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% translate "Bitte diesen Fehler zuerst beheben" %}{% else %}{% translate "Bitte diesen Fehler zuerst beheben." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <div id="content-main">

        {% if user.is_authenticated %}
            <p class="errornote">
                {% blocktranslate trimmed %}
                    <b>{{ username }}</b>, du bist nicht berechtigt, auf diese Seite zuzugreifen.
                    Möchtest du dich mit einem anderen Konto anmelden?
                {% endblocktranslate %}
            </p>
        {% endif %}

        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <div class="form-row">
                {{ form.username.errors }}
{#                {{ form.username.label_tag }} {{ form.username }}#}
                Benutzername: {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.errors }}
{#                {{ form.password.label_tag }} {{ form.password }}#}
                Passwort: {{ form.password }}
                <input type="hidden" name="next" value="{{ next }}">
            </div>
            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}
                <div class="password-reset-link">
                    <a href="{{ password_reset_url }}">{% translate 'Vergessen?' %}</a>
                </div>
            {% endif %}
            <div class="submit-row">
                <input type="submit" value="{% translate 'Anmelden' %}">
            </div>
        </form>

    </div>
{% endblock %}
