{% extends "internal/auth/base.html" %}
{% load i18n %}
{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %} {% translate 'Password ändern' %} /
    <form id="logout-form" method="post" action="{% url 'auth:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Abmelden' %}</button>
    </form>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'auth:logged_in' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Password ändern' %}
    </div>
{% endblock %}

{% block content %}
    <p>{% translate 'Dein passwort wurde geändert.' %}</p>
{% endblock %}
