{% extends "internal/auth/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %} {% translate 'Password ändern' %} /
    <form id="logout-form" method="post" action="{% url 'auth:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Log out' %}</button>
    </form>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'auth:logged_in' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Passwort ändern' %}
    </div>
{% endblock %}

{% block content %}<div id="content-main">

    <form method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% translate "Bitte den Fehler zuerst beheben" %}{% else %}{% translate "Bitte den Fehler zuerst beheben." %}{% endif %}
                </p>
            {% endif %}


{#            <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>#}

            <fieldset class="module aligned wide">

                <div class="form-row">
{#                    {{ form.old_password.errors }}#}
{#                    {{ form.old_password.label_tag }} {{ form.old_password }}#}
                    <input type="password" name="old_password" placeholder="Altes Passwort" required>
                </div>

                <div class="form-row">
{#                    {{ form.new_password1.errors }}#}
{#                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}#}
{#                    {% if form.new_password1.help_text %}#}
{#                        <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>#}
{#                    {% endif %}#}
                    <input type="password" name="new_password1" placeholder="Neues Passwort" required>
                    <ul>
                        <li>Mindesten 8 Zeichen</li>
                        <li>Nicht vollständig numerisch</li>
                        <li>Darf kein häufig verwendetes Passwort sein</li>
                    </ul>
                </div>

                <div class="form-row">
{#                    {{ form.new_password2.errors }}#}
{#                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}#}
{#                    {% if form.new_password2.help_text %}#}
{#                        <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>#}
{#                    {% endif %}#}
                    <input type="password" name="new_password2" placeholder="Wiederholung" required>
                </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit" value="{% translate 'Passwort ändern' %}" class="default">
            </div>

        </div>
    </form></div>

{% endblock %}
