{% extends 'internal/base/base.html' %}

{% block title %}Neues Konto erstellen{% endblock %}

{% block head %}
    <style>
    *{
        margin: 2px 0;
    }
    </style>
{% endblock %}

{% block content %}
    <form method="post" style="width: 90%; margin: 0 5%;">
        <fieldset>
            <legend>Neues Konto erstellen</legend>
            {% csrf_token %}
            <input type="text" name="username" placeholder="Benutzername" required>
            <br>
            <input type="password" name="password1" placeholder="Passwort" required>
            <br>
            <input type="password" name="password2" placeholder="Passwort Wiederholung" required>
            <br>
            <ul>
                <li>Mindesten 8 Zeichen</li>
                <li>Nicht vollständig numerisch</li>
                <li>Darf kein häufig verwendetes Passwort sein</li>
            </ul>
            <button type="submit">Abgeben</button>
        </fieldset>
    </form>
{% endblock %}