<table id="table_reservation" class="table cell-border compact stripe">
    <thead >
        <tr class="table_header">
            <th style="width: 3%;
                background-color: #f1f1f1">
                Tisch
            </th>

            <th style="width: 2%;
            background-color: #f1f1f1">
                Sitzen
            </th>

            {% for time_slot in tables.columns %}
                <th>{{ time_slot }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for table in tables.iterrows %} {# one row converted into a 2-tuple: index & values #}
            <tr>

                <td style="background-color: white"><b>T{{ table.0.table_name }}</b></td>
                <td style="background-color: white">{{ table.0.seat_count }}</td>

                {% for cell in table.1 %}
                    <td> {% include 'internal/reservation/table_td.html' with cell=cell %}</td>
                {% endfor %}

            </tr>
        {% endfor %}
    </tbody>

</table>

<script>
    $(document).ready(() => {
        let table_config = {
            scrollCollapse: true,
            scrollX     : true,
            scrollY     : "60vh",

            paging      : false,
            ordering    : false,
            searching   : false,
            columnDefs  : [
                {
                    targets: "_all",
                    className: 'dt-center'
                }
            ],
            fixedColumns : {
                left:2,
            },
        };

        $('#table_reservation').DataTable(table_config);
    });
</script>