{% load static %}

<!DOCTYPE html>
<html lang="de_DE">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}"/>

        <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
        </script>

        <style>
            * {
                font-family: Arial, serif;
            }

            .scrollable_div {
                overflow-y: scroll;
                min-height: 50px;
                max-height: 80px;
                border-style: solid;
                border-width: 1px;
                border-color: lightgrey;
                text-align: left;
            }
        </style>

        <title>{% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}

    </head>

    <body>
        <a href="{% url 'auth:logged_in' %}">Home</a>
        {% block content %}{% endblock %}
    </body>

</html>