<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/fc-4.2.1/datatables.min.js"></script>

<style>
    .table {
        border-collapse: collapse; /* Collapse borders */
        border: 1px solid #ddd; /* Add a grey border */
    }

    .table th, .table td {
        text-align: center;
    }

    .table tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

    .table_header, .table tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f1f1f1;
    }
</style>